<a href="https://colab.research.google.com/github/atolman01/Data_Cleaning_Halloween_Style/blob/main/Data_Cleaning_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Reading in data and then saving it into a Dataframe:**

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

#instead of using default encoding="utf-8", need to use encoding="ISO-8859-1"
#use python engine instead of c engine
with open("/content/drive/My Drive/Datasets/candyhierarchy2017.csv",'r', encoding="ISO-8859-1") as reader:
  df = pd.read_csv(reader, header=0, engine='python')

Reference to encoding hint : https://stackoverflow.com/questions/19699367/for-line-in-results-in-unicodedecodeerror-utf-8-codec-cant-decode-byte

### **Print the first 10 rows of the dataframe:**

In [2]:
#print the first 10 rows of my dataframe
df.head(10)

   Internal ID Q1: GOING OUT?  ... Q12: MEDIA [Yahoo] Click Coordinates (x, y)
0     90258773            NaN  ...                NaN                      NaN
1     90272821             No  ...                NaN                 (84, 25)
2     90272829            NaN  ...                NaN                      NaN
3     90272840             No  ...                NaN                 (75, 23)
4     90272841             No  ...                NaN                 (70, 10)
5     90272852             No  ...                NaN                 (75, 23)
6     90272853             No  ...                NaN                      NaN
7     90272854             No  ...                NaN                  (55, 5)
8     90272858             No  ...                NaN                 (76, 24)
9     90272859             No  ...                NaN                 (70, 28)

[10 rows x 120 columns]

What are some of the problems with the data?

<ul>
  <li> 1. <textarea name="first" rows=1 cols=50></textarea></li>
  <li> 2. <textarea name="first" rows=1 cols=50></textarea></li>
  <li> 3. <textarea name="first" rows=1 cols=50></textarea></li>
</ul>

What are three main causes of dirty data?

<ul>
  <li> 1. <textarea name="first" rows=1 cols=50></textarea></li>
  <li> 2. <textarea name="first" rows=1 cols=50></textarea></li>
  <li> 3. <textarea name="first" rows=1 cols=50></textarea></li>
</ul>

Why is dirty data problematic?

<textarea name="textbox" rows=6 cols=100></textarea>

---
# **PROBLEM 1: Column Makeover**
### **Approach 1 to Consistent Columns**

Here we will use control and data structures with Python to clean our columns up.

**In pandas, axis=0 are rows and axis=1 are columns**

In [4]:
# list of candies
candies = ["100 Grand bar"
,'3 Musketeers'
,'One dime'
,'One quarter'
,'Air Heads'
,'Almond Joy'	
,'Baby Ruth'
,'Black jacks'	
,'Black Licorice'
,'Bonkers'
,'Boston Baked Beans'
,'Bottle Caps'
,'Cadbury Creme Eggs'
,'Candy Corn'	
,'Caramel Apple Pops'	
,'Caramellos'
,'Charleston Chew'	
,'Chewey Lemonhead Fruit Mix'	
,'Chiclets'	
,'Chick-o-Sticks'
,'Coffee Crisp'
,'Dots'
,'Dum Dums'
,'Fruit Chews'	
,'Fun Dip'	
,'Gobstopper'	
,'Goo Goo Clusters'
,'Haribo Gold Bears'	
,'Haribo Happy Cola'
,'Haribo Sour Bears'
,'Haribo Twin Snakes'	
,'Heath'
,'Hershey\'s Kisses'	
,'Hershey\'s Krackel'	
,'Hershey\'s Milk Chocolate'
,'Hershey\'s Dark Chocolate'	
,'Hershey\'s Special Dark'
,'Jawbusters'
,'Jolly Ranchers'
,'Junior Mints'
,'Kinder Happy Hippo'
,'Kit Kat'	
,'Laffy Taffy'
,'Lemonhead'	
,'Lifesavers big ring gummies'	
,'Lindt truffle'
,'Lollipops'
,'Mars'
,'Mary Janes'
,'Maynards'
,'Peanut butter M&M\'s'
,'M&M\'s'	
,'Mike & Ike'	
,'Milk Duds'
,'Milky Way'
,'Milky Way Midnight'	
,'Milky Way Simply Caramel'	
,'Mounds'
,'Mr Good Bar'
,'Nerds'	
,'Butterfinger'	
,'Crunch'	
,'Nik L Nip'	
,'Now & Later'
,'Payday'	
,'Peanut M&Ms'
,'Peeps'	
,'Pixie Sticks'	
,'Pop Rocks'	
,'Red vines'
,'Red Licorice'	
,'Reese\'s Miniatures'
,'Reese\'s Peanut Butter cup'
,'Reese\'s pieces'
,'Reese\'s stuffed with pieces'
,'Reggie Jackson Bar'
,'Ring pop'
,'Rolos'	
,'Root Beer Barrels'
,'Runts'
,'Sixlets'
,'Skittles'
,'Skittles wildberry'
,'Nestle Smarties'
,'Necco Wafers'
,'European Smarties'
,'Snickers'
,'Snickers Crisper'
,'Sour Patch Kids'
,'Sour Patch Tricksters'
,'Starburst'
,'Strawberry bon bons'
,'Sugar Babies'
,'Sugar Daddy'
,'Super Bubble'
,'Swedish Fish'
,'Sweet tarts'
,'Take 5'
,'Tic tacs'
,'Tootsie Pop'
,'Tolberone'
,'Tootsie Roll Juniors'
,'Tootsie Roll Midgies'
,'Tootsie Roll Snack Bars'
,'Trolli Sour Bites'
,'Trail mix'
,'Twix'
,'Twizzlers'
,'Warheads'
,'Welch\'s Fruit Snacks'
,'Werther\'s Original Caramel'
,'Whoppers'
,'York Peppermint Patties']

# a dictionary ( key - is the current column name we want to change : value - the new column name)
cols_rename = {"anonymous brown globs that come in black and orange wrappers	(a.k.a. mary janes)":"mary janes"
            ,"bonkers (the candy)":"bonkers"
            ,"state, province, county, etc":"state"
            ,"chick-o-sticks (we donõt know what that is)":"chick-o-sticks"
            ,"gummy bears straight up":"gummy bears"
            ,"jolly ranchers (good flavor)":"jolly ranchers"
            ,"joyjoy (mit iodine!)":"almond joy"
            ,"now'n'laters":"now & later"
            ,"sourpatch kids (i.e. abominations of nature)":"sour patch kids"
            ,"tolberone something or other":"tolberone"
            ,"smarties (commonwealth)":"european smarties"
            ,"smarties (american)":"american smarties"
            ,"licorice (not black)":"red licorice"
            ,"licorice (yes black)":"black licorice"
            ,"going out?":"going out"
            ,"good n' plenty" : "good & plenty"
            ,"laffytaffy" : "laffy taffy"
            ,"mike and ike" : "mike & ike"
            ,"mr. goodbar" : "mr good bar"
            ,"three musketeers" : "3 musketeers"
            ,"mint kisses" : "hershey\'s mint kisses"
            ,"pixy stix" : "pixie sticks"
            ,"nestle crunch" : "crunch"
            ,"heath bar" : "heath"
            ,"hersheyõs milk chocolate":"hershey's milk chocolate"
            ,"lemonheads":"lemonhead"
            ,"reeseõs peanut butter cups":"reese's peanut butter cup"
            ,"peanut m&mõs":"peanut butter m&m's"
            ,"regular m&ms":"m&m's"}

#instead of dealing with a mix of upper and lower case, just make them all lower case
candies = [name.lower() for name in candies]

In [5]:
# deletes the columns we do not want 
# IMPORTANT : be careful, only execute this once
# After deleting the columns, if you execute this again the columns
#   will already be gone and it will return COLUMN NOT FOUND
def delete_columns(df,cols_to_drop):
  
  df = df.drop(cols_to_drop,axis=1)
  return df

# get the columns we know we want to delete to make it easier with slicing columns later on!
# Plus these columns have nothing to do with Trick or Treating!
drop = df.loc[:,'Q7: JOY OTHER':'Click Coordinates (x, y)'].append(df[['Internal ID']])
drop_cols = [x for x in drop.columns]

#uncomment this line when rexecuting for the first time
# remember we only want to delete these columns once
df = delete_columns(df,drop_cols)

In [6]:

#strip columns in our original dataframe of whitespace and lower case columns
df.columns = [c[4:].strip().lower() for c in df.columns]

#find all columns in dataframe that did not have a match in the candies list
no_matches = [c for c in df.columns if c not in candies]

# returns a tuple with two lists : one with irrelevant columns we do not need, the other with columns we renamed 
def get_unwanted_cols(no_matches,cols_rename):
 renamed = []
 irrelevant_cols = []

 for current_name in no_matches:
   if current_name in cols_rename:
     renamed.append(cols_rename[current_name])
   elif current_name in ["country","gender","age"]:
     renamed.append(current_name)
   else:
     irrelevant_cols.append(current_name)

 return irrelevant_cols


#call all your functions to clean your dataframe columns
irrelevant_columns = get_unwanted_cols(no_matches,cols_rename)
df = delete_columns(df, irrelevant_columns)
df.rename(columns=cols_rename,inplace=True)

###**Approach 2 to Consistent Columns**

This approach is more of a hard-coded solution than the one above. 

You can physically write out every single column you want to delete. But datasets will often have tons and tons of columns that take too much time to hard-code.

In [3]:

# a function to rename columns in our dataframe
# returns a new dataframe
def rename_df_columns(df):
  
  df.rename(columns={"anonymous brown globs that come in black and orange wrappers	(a.k.a. mary janes)":"mary janes"
            ,"bonkers (the candy)":"bonkers"
            ,"state, province, county, etc":"state"
            ,"chick-o-sticks (we donõt know what that is)":"chick-o-sticks"
            ,"gummy bears straight up":"gummy bears"
            ,"jolly ranchers (good flavor)":"jolly ranchers"
            ,"joyjoy (mit iodine!)":"almond joy"
            ,"now'n'laters":"now & later"
            ,"sourpatch kids (i.e. abominations of nature)":"sour patch kids"
            ,"tolberone something or other":"tolberone"
            ,"smarties (commonwealth)":"european smarties"
            ,"smarties (american)":"american smarties"
            ,"licorice (not black)":"red licorice"
            ,"licorice (yes black)":"black licorice"
            ,"going out?":"going out"
            ,"good n' plenty" : "good & plenty"
            ,"laffytaffy" : "laffy taffy"
            ,"mike and ike" : "mike & ike"
            ,"mr. goodbar" : "mr good bar"
            ,"three musketeers" : "3 musketeers"
            ,"mint kisses" : "hershey\'s mint kisses"
            ,"pixy stix" : "pixie sticks"
            ,"nestle crunch" : "crunch"
            ,"heath bar" : "heath"
            ,"hersheyõs milk chocolate":"hershey's milk chocolate"
            ,"lemonheads":"lemonhead"
            ,"reeseõs peanut butter cups":"reese's peanut butter cup"
            ,"peanut m&mõs":"peanut butter m&m's"
            ,"regular m&ms":"m&m's"}, inplace=True)
  return df

#deletes all unwanted columns from our dataframe
#returns a new dataframe
def delete_df_columns(df):
  df = df.drop(['Internal ID','Q6 | Any full-sized candy bar','Q6 | Bonkers (the board game)','Q6 | Box\'o\'Raisins'
    , 'Q6 | Broken glow stick', 'Q6 | Candy that is clearly just the stuff given out for free at restaurants'
    , 'Q6 | Cash, or other forms of legal tender', 'Q6 | Chardonnay', 'Q6 | Creepy Religious comics/Chick Tracts'
    , 'Q6 | Dental paraphenalia', 'Q6 | Dove Bars', 'Q6 | Fuzzy Peaches','Q6 | Generic Brand Acetaminophen'
    , 'Q6 | Glow sticks', 'Q6 | Gum from baseball cards', 'Q6 | Healthy Fruit','Q6 | Hugs (actual physical hugs)'
    , 'Q6 | Jolly Rancher (bad flavor)','Q6 | Kale smoothie', 'Q6 | Senior Mints', 'Q6 | Blue M&M\'s', 'Q6 | Red M&M\'s', 'Q6 | Green Party M&M\'s'
    , 'Q6 | Independent M&M\'s', 'Q6 | Abstained from M&M\'ing.' , 'Q6 | Mint Juleps', 'Q6 | Pencils', 'Q6 | Real Housewives of Orange County Season 9 Blue-Ray'
    , 'Q6 | Sandwich-sized bags filled with BooBerry Crunch', 'Q6 | Spotted Dick', 'Q6 | Those odd marshmallow circus peanut things'
    , 'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein', 'Q6 | Vicodin', 'Q6 | Whatchamacallit Bars'
    , 'Q6 | White Bread', 'Q6 | Minibags of chips','Q6 | Hard Candy','Q6 | Whole Wheat anything', 'Q7: JOY OTHER', 'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Q10: DRESS'
    , 'Unnamed: 113', 'Q11: DAY', 'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]','Q12: MEDIA [ESPN]','Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],axis=1)

  return df

#call functions above and return 
# new dataframe with changes
def clean_df_columns(df):
  temp_list = []
  removed_col = delete_df_columns(df)
  
  for c in removed_col.columns:                # go through all columns that are left in dataframe
    temp_list.append(c[4:].strip().lower())    #slice the name, and strip it of all whitespace and lower case 
  removed_col.columns = temp_list
  renamed_df = rename_df_columns(removed_col) #rename columns
  return renamed_df


clean_df_col = clean_df_columns(df)
print(clean_df_col.columns)

Index(['going out', 'gender', 'age', 'country', 'state', '100 grand bar',
       'mary janes', 'black jacks', 'bonkers', 'bottle caps', 'butterfinger',
       'cadbury creme eggs', 'candy corn', 'caramellos', 'chick-o-sticks',
       'chiclets', 'coffee crisp', 'dots', 'goo goo clusters', 'good & plenty',
       'gummy bears', 'heath', 'hershey's dark chocolate',
       'hershey's milk chocolate', 'hershey's kisses', 'jolly ranchers',
       'almond joy', 'junior mints', 'kinder happy hippo', 'kit kat',
       'laffy taffy', 'lemonhead', 'red licorice', 'black licorice',
       'lindt truffle', 'lollipops', 'mars', 'maynards', 'mike & ike',
       'milk duds', 'milky way', 'm&m's', 'peanut butter m&m's',
       'hershey's mint kisses', 'mr good bar', 'necco wafers', 'nerds',
       'crunch', 'now & later', 'peeps', 'pixie sticks',
       'reese's peanut butter cup', 'reese's pieces', 'reggie jackson bar',
       'rolos', 'skittles', 'american smarties', 'european smarties',
       'snickers', 'sour patch kids', 'starburst', 'sweet tarts',
       'swedish fish', 'sweetums (a friend to diabetes)', 'take 5', 'tic tacs',
       '3 musketeers', 'tolberone', 'trail mix', 'twix',
       'york peppermint patties'],
      dtype='object')

---
# **Problem 2:** Null Values

In [4]:
#drop rows with all NaN values 

no_nulls = clean_df_col.dropna(axis=0,how='all')

#print(no_nulls)

filtered = no_nulls[no_nulls['going out'] == 'Yes']
filtered.reset_index()
print(filtered)

     going out  gender age  ... trail mix twix york peppermint patties
10         Yes    Male  43  ...       NaN  NaN                     NaN
13         Yes    Male  43  ...   DESPAIR  JOY                     JOY
21         Yes    Male  33  ...   DESPAIR  JOY                     MEH
22         Yes    Male  37  ...   DESPAIR  JOY                     JOY
28         Yes    Male  38  ...   DESPAIR  JOY                     MEH
...        ...     ...  ..  ...       ...  ...                     ...
2414       Yes    Male  11  ...       MEH  JOY                 DESPAIR
2425       Yes  Female  40  ...       NaN  NaN                     NaN
2428       Yes  Female  34  ...       MEH  JOY                     JOY
2432       Yes    Male  52  ...       MEH  JOY                     JOY
2433       Yes  Female  68  ...       MEH  JOY                     MEH

[312 rows x 71 columns]

In [10]:
    #   for approach 1
#no_nulls = df.dropna(axis=0,how='all')

#print(no_nulls)

#filtered = no_nulls[no_nulls['going out'] == 'Yes']
#filtered.reset_index()
#print(filtered)

     going out  gender age  ... trail mix twix york peppermint patties
10         Yes    Male  43  ...       NaN  NaN                     NaN
13         Yes    Male  43  ...   DESPAIR  JOY                     JOY
21         Yes    Male  33  ...   DESPAIR  JOY                     MEH
22         Yes    Male  37  ...   DESPAIR  JOY                     JOY
28         Yes    Male  38  ...   DESPAIR  JOY                     MEH
...        ...     ...  ..  ...       ...  ...                     ...
2414       Yes    Male  11  ...       MEH  JOY                 DESPAIR
2425       Yes  Female  40  ...       NaN  NaN                     NaN
2428       Yes  Female  34  ...       MEH  JOY                     JOY
2432       Yes    Male  52  ...       MEH  JOY                     JOY
2433       Yes  Female  68  ...       MEH  JOY                     MEH

[312 rows x 70 columns]

# **Problem 3:** WHAT CRAZY VALUES ARE IN THE COLUMNS?!

In [5]:
# columns
filtered.columns

Index(['going out', 'gender', 'age', 'country', 'state', '100 grand bar',
       'mary janes', 'black jacks', 'bonkers', 'bottle caps', 'butterfinger',
       'cadbury creme eggs', 'candy corn', 'caramellos', 'chick-o-sticks',
       'chiclets', 'coffee crisp', 'dots', 'goo goo clusters', 'good & plenty',
       'gummy bears', 'heath', 'hershey's dark chocolate',
       'hershey's milk chocolate', 'hershey's kisses', 'jolly ranchers',
       'almond joy', 'junior mints', 'kinder happy hippo', 'kit kat',
       'laffy taffy', 'lemonhead', 'red licorice', 'black licorice',
       'lindt truffle', 'lollipops', 'mars', 'maynards', 'mike & ike',
       'milk duds', 'milky way', 'm&m's', 'peanut butter m&m's',
       'hershey's mint kisses', 'mr good bar', 'necco wafers', 'nerds',
       'crunch', 'now & later', 'peeps', 'pixie sticks',
       'reese's peanut butter cup', 'reese's pieces', 'reggie jackson bar',
       'rolos', 'skittles', 'american smarties', 'european smarties',
       'snickers', 'sour patch kids', 'starburst', 'sweet tarts',
       'swedish fish', 'sweetums (a friend to diabetes)', 'take 5', 'tic tacs',
       '3 musketeers', 'tolberone', 'trail mix', 'twix',
       'york peppermint patties'],
      dtype='object')

In [25]:
# columns that need attention (gender, age, country, state)
filtered['gender'].value_counts()

  # the gender column is optional to fix, but shorter is sometimes bettter. In this case 
  #   I am changing 'I'd rather not say' to 'OptOut'

#filtered['gender'].replace({"I'd rather not say": 'OptOut'}, regex=True, inplace = True) 
#df['gender'] = ['OptOut'.join(c.split()) for c in filtered['gender']]
#filtered['gender'] = ['OptOut' if c == "I'd rather not say" else c for c in filtered['gender']]
#filtered['gender'].value_counts()

Male      183
Female    115
OptOut      9
Other       4
Name: gender, dtype: int64

In [23]:
filtered['age'].value_counts()

40                                                  15
42                                                  15
33                                                  14
38                                                  13
43                                                  12
41                                                  12
36                                                  11
44                                                  11
39                                                  10
37                                                   9
35                                                   9
49                                                   9
34                                                   9
45                                                   9
53                                                   9
46                                                   8
50                                                   7
11                                                   7
48                                                   7
47                                                   6
32                                                   6
13                                                   5
26                                                   5
12                                                   5
15                                                   4
27                                                   4
18                                                   4
51                                                   4
30                                                   4
63                                                   3
28                                                   3
9                                                    3
10                                                   3
21                                                   3
61                                                   3
68                                                   3
55                                                   2
8                                                    2
6                                                    2
31                                                   2
24                                                   2
71                                                   2
52                                                   2
56                                                   2
7                                                    2
14                                                   1
65                                                   1
MY NAME JEFF                                         1
16                                                   1
58                                                   1
I can remember when Java was a cool new language     1
hahahahaha                                           1
22                                                   1
29                                                   1
57                                                   1
59                                                   1
1                                                    1
60                                                   1
25                                                   1
64                                                   1
70                                                   1
90                                                   1
1000                                                 1
67                                                   1
19                                                   1
4                                                    1
Name: age, dtype: int64

In [24]:
filtered['country'].value_counts()

United States                     71
USA                               59
usa                               28
Usa                               26
Canada                            22
US                                18
USA                                7
United States                      7
us                                 6
United States of America           6
america                            4
United states                      3
United Kingdom                     3
Canada                             2
Australia                          2
united states                      2
United States of America           2
Us                                 2
australia                          1
North Carolina                     1
The United States                  1
Europe                             1
'merica                            1
UK                                 1
united States                      1
United kingdom                     1
Switzerland                        1
Sweden                             1
Germany                            1
U.S.                               1
N. America                         1
U.S.A.                             1
1                                  1
France                             1
UK                                 1
Unites States                      1
America                            1
China                              1
USSA                               1
insanity lately                    1
45                                 1
Scotland                           1
CANADA                             1
Atlantis                           1
I don't know anymore               1
Fear and Loathing                  1
subscribe to dm4uz3 on youtube     1
Ireland                            1
Unied States                       1
Murica                             1
Canae                              1
Netherlands                        1
South africa                       1
Name: country, dtype: int64

In [25]:
filtered['state'].value_counts()

California                                            21
Virginia                                               8
Illinois                                               7
CA                                                     7
BC                                                     6
Colorado                                               6
Texas                                                  6
Oregon                                                 6
Ontario                                                6
New York                                               5
ca                                                     5
NC                                                     5
PA                                                     4
va                                                     4
Indiana                                                4
California                                             4
Ohio                                                   3
TX                                                     3
IL                                                     3
Washington                                             3
Kansas                                                 3
Wisconsin                                              3
VA                                                     3
CO                                                     3
NY                                                     3
Alberta                                                3
Pennsylvania                                           3
Pennsylvania                                           3
NJ                                                     3
Massachusetts                                          3
Nebraska                                               2
Nova Scotia                                            2
Louisiana                                              2
massachusetts                                          2
WI                                                     2
Victoria                                               2
Montana                                                2
Quebec                                                 2
ma                                                     2
British Columbia                                       2
ohio                                                   2
Bc                                                     2
WA                                                     2
MA                                                     2
california                                             2
Wa                                                     2
OH                                                     2
New Jersey                                             2
Illinois                                               2
UT                                                     2
AZ                                                     2
Georgia                                                2
Hawaii                                                 1
Wisconsin, 53705                                       1
Utah                                                   1
Kentucky                                               1
NH                                                     1
Michigan                                               1
michigan                                               1
Fl                                                     1
La                                                     1
MN                                                     1
Mn                                                     1
Iowa                                                   1
Pa                                                     1
Skane                                                  1
md                                                     1
Harris County, Texas                                   1
az                                                     1
or                                                     1
indiana                                                1
MI                                                     1
Tennessee                                              1
Ma                                                     1
Glasgow                                                1
Quenec                                                 1
Oregon - but will be in Washington for Halloween       1
VT                                                     1
mi                                                     1
Nc                                                     1
North Dakota                                           1
North Carolina                                         1
Arkansas                                               1
il                                                     1
The Democratic People's Republic of North Carolina     1
Nope                                                   1
tx                                                     1
Missouri                                               1
New Hampshire                                          1
Florida                                                1
Co                                                     1
Mi                                                     1
Michigan                                               1
wisconsin                                              1
mt                                                     1
Issaquah, WA, King County                              1
Washington DC                                          1
ONTARIO                                                1
Alabama                                                1
Psychotic                                              1
Los Angeles, California                                1
Arizona                                                1
Santa Barbara co. California                           1
ON                                                     1
illinois                                               1
PEnnsylvania                                           1
Massachusetts                                          1
oblivion if things keep going this way                 1
Scotland                                               1
Maryland                                               1
ND                                                     1
mn                                                     1
Merlin                                                 1
WV, Kanawha County                                     1
connecticut                                            1
MO                                                     1
OR                                                     1
wa                                                     1
Wyoming                                                1
Washington                                             1
Munster                                                1
Tn                                                     1
Glendora, Los Angeles, California                      1
America                                                1
West Virginia                                          1
North dakota                                           1
Ri                                                     1
Dona Ana county, New Mexico                            1
NM                                                     1
Greater Manchester                                     1
Or                                                     1
iowa                                                   1
Sydney                                                 1
1                                                      1
Tennessee, Knox County                                 1
Shanghai, Chang Ning district                          1
IN                                                     1
Idaho                                                  1
Maine                                                  1
Texas                                                  1
pa                                                     1
KwaZulu-Natal                                          1
Greater London                                         1
Londom                                                 1
Missouri                                               1
KS                                                     1
Idf                                                    1
rhode island                                           1
NV                                                     1
wa, spokane                                            1
Oklahoma                                               1
Arizona                                                1
USA                                                    1
Tx                                                     1
Lancasire                                              1
ur mom                                                 1
maryland                                               1
Washington, DC                                         1
Emerald City, Petrolia                                 1
cailifornia                                            1
South Carolina                                         1
MARYLAND                                               1
Vaud                                                   1
Name: state, dtype: int64